force-app/main/default/flows/flowGetOpportunityByName.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assignFoundOutputs</name>
        <label>assignFoundOutputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>商談が見つかりました</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_NextStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.NextStep</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOpportunityByName.Amount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignNotFoundOutputs</name>
        <label>assignNotFoundOutputs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Found</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>商談が見つかりませんでした。正確な商談名を確認してください。</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>decOpportunityFound</name>
        <label>decOpportunityFound</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>assignNotFoundOutputs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOpportunityByName.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignFoundOutputs</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Opportunity By Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Opportunity By Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getOpportunityByName</name>
        <label>getOpportunityByName</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>decOpportunityFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_OpportunityName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunityByName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Input_OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Output_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_CloseDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Found</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_NextStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Output_StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
